<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="menuPrincipal"></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">
            {{titulo}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="regreso" [routerLink]="['/home']">
                <ion-icon name="home" color="#083e54"></ion-icon>
              </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="menuPrincipal" contentId="mani">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-avatar style="padding: 5px;">
          <img src="/assets/spider.jpeg" alt="">
        </ion-avatar>
      </ion-buttons>
      <ion-title>Name User</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="modulos">
    <ion-list color="primary" style="padding: 0px;">
      <ion-item class="itemMenu" [routerLink]="['/recibir']">
        <ion-icon class="itemMenu" slot="start" name="car-sport"></ion-icon>
        <ion-label>Recibit Auto</ion-label>
      </ion-item>
      
      <ion-item class="itemMenu" [routerLink]="['/parking']">
        <ion-icon class="itemMenu" slot="start" name="location"></ion-icon>
        <ion-label>Por Estacionar</ion-label>
      </ion-item>

      <ion-item class="itemMenu" [routerLink]="['/solicitudes']">
        <ion-icon class="itemMenu" slot="start" name="hand-right"></ion-icon>
        <ion-label>Solicitudes</ion-label>
      </ion-item>

      <ion-item class="itemMenu"[routerLink]="['/reportes']">
        <ion-icon class="itemMenu" slot="start" name="person-circle"></ion-icon>
        <ion-label>Entregados</ion-label>
      </ion-item>
      
      <ion-item class="itemMenu" [routerLink]="['/reportes']">
        <ion-icon class="itemMenu" slot="start" name="list-circle"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-item>

      <ion-item class="itemMenu" >
        <ion-icon class="itemMenu" slot="start" name="log-out"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
  </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <div class="ion-padding">
        <label>powered by linkom ® v.17.11.18</label>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<ion-router-outlet class="relleno" id="mani"></ion-router-outlet>


