<ion-header>
  <ion-toolbar>
    <ion-title>Ticket</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
        Cancelar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngIf="tickets" >
    <ion-grid fixed >
      <ion-row>
        <ion-col size="6" >
          <ion-item *ngIf="comer" >
            <ion-label>
              <h2>{{comer['nombre']}}</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item *ngIf="valet">
            <ion-label>{{valet['nombre']}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4" offset="4" >
          Contenido QR
          <ion-thumbnail class="codeQR">
            <img src="http://chart.googleapis.com/chart?chs=300x300&cht=qr&chl={{link}}&.png">
          </ion-thumbnail>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="5" class="ticket">
          <ion-item>
            <ion-label>
              <h6>Placas: </h6>
              <br>
              <h2>{{tickets['placas']}}</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6" offset="1" class="ticket">
          <ion-item>
            <ion-label>
             <h2>Día: {{tickets['fecha_registro'] | date: 'd/MM/YYYY ' }}</h2>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Hora: {{tickets['fecha_registro'] | date: 'shortTime'}}</h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-justify">Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur exercitationem provident voluptatum in obcaecati ipsum iure, eveniet placeat sequi est tempore, omnis temporibus natus architecto sunt hic impedit ad itaque.</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-item class="ticket">
            <ion-label>Folio: {{tickets['id']}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="7" class="ticket" >
          <ion-item *ngIf="comer">
            <ion-label>Costo: {{comer['tarifa']}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item> 
            <p class="aviso">Visita www.linkom.mx, para más información sobre términos y condiciones</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="cancelar(tickets)" expand="block" color="danger" >
            Cancelar Ticket
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="imprimir()" expand="block" color="primary">
            Imprimir Ticket
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
