<app-header titulo="Recibir Auto"></app-header>

<ion-content class="ion-padding">
    <ion-card >
        
        <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
            <ion-list-header  class="ion-align-items-center">
                    <ion-label class="ion-text">Registrar Auto</ion-label>
                    <br>
            </ion-list-header>
            

            <ion-item>
                <ion-label>Establecimiento</ion-label>
                <ion-select ngModel name="id_comercio" placeholder="{{comercio.nombre}}">
                    <ion-select-option value="{{comercio.id}}" *ngFor="let comercio of comecios" >{{comercio.nombre}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item >
                <ion-label position="floating">Placas<ion-text color="danger">*</ion-text></ion-label>
                <ion-input required 
                            ngModel 
                            type="text"
                            name="placas">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Descripción <ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="text" 
                        placeholder="Añadir una Descripción" 
                        ngModel 
                        name="descripcion">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="file" placeholder="Tomar foto"></ion-input>
            </ion-item>
            <ion-button (click)="nextpage()" class="btn" color="primary" [disabled]="formulario.invalid" type="submit">
                Generar Ticket
            </ion-button>
        </form>
    </ion-card>
</ion-content>
