<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button  class="regreso" [routerLink]="['/home']">
       <ion-icon name="close"></ion-icon>
      </ion-button>
     </ion-buttons>
     <ion-item lines="none">
      <label class="title">Notificación</label>
      </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content>

  <br>
  <br>
  <div class="primer_titulo1">
  <label class="primer_titulo2" >Contraseña Enviada. <br><br>
    Le llegará un correo electrónico para confirmar su contraseña mediante un enlace web.
    <br>
    <br>
    <br>
    <span>Asegúrese de confirmar la contraseña, tal cual la ingresó en este procedimiento.</span>
    </label>
</div>
<br>
</ion-content>