.cardMenuLogin {
    box-shadow: none;
    min-height: 25em;
    height: auto;
    width: auto;
    padding: 2px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 2em;
    margin-top: 12em;
    
}

.iconeye{
    margin-top: 25px;
}

.loginButton{
    margin-top: 2em;
}