<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuPrincipal"></ion-menu-button>
  </ion-buttons>
    <ion-title>Valet Name</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-row>
    <ion-col size="12" size-md="12">
      <ion-card *ngFor="let n of menu | async" 
                [routerLink]="n.redirectTo"
                detail
                class="cardMenu">
          <ion-col size="12">
            <div>
              <ion-icon slot="start" [name]="n.icon" color="light" class="ionIcon"></ion-icon>
            </div>
            <div>
              <ion-card-title ><strong>{{n.name}}</strong></ion-card-title>
            </div>
          </ion-col>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
