<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="solicitud">
            <ion-icon name="man-outline"></ion-icon>
            <ion-label>Solicitudes</ion-label>
            <ion-badge>1</ion-badge>
          </ion-tab-button>
      
          <ion-tab-button tab="estacionados">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>Estacionados</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>
