/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.cardMenu {
    //background-color: rgb(235, 245, 251);
    //background-color: rgb(214, 234, 248);
    //background-color: rgb(174, 214, 241);
    //background-color: rgb(133, 193, 233);
    //background-color: rgb(46, 134, 193);
    //background-color: rgb(40, 116, 166);
    //background-color: rgb(33, 97, 140);
    //background-color: rgb(27, 79, 114);    
    background-color: rgb(26, 82, 118);    
    min-height: 9em;
    height: auto;
    width: auto;
    padding: 2px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 2em;

    
}


.cardMenuLogin {
    box-shadow: none;
    min-height: 25em;
    height: auto;
    width: auto;
    padding: 2px;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 2em;
    margin-top: 12em;
    
}

.card{
    padding: 1em;
}

.iconeye{
    margin-top: 25px;
}

.loginButton{
    margin-top: 2em;
}

.ionIcon{
    padding-top: 0px;
    padding: 2px;
    font-size: 45px;
  }

.codeQR{
    width: 100%;
    height: auto;
}

.btn{
    display: block;
    margin: 0;
    --background: #1a5276;
}

.ion-text{
    text-align: center;
    font-size: x-large;
}


.primer_titulo1{
    font-size: 85%;
    color: #000000;
    font-family: bold;
    text-align: center;
  }
  
  .primer_titulo{
    text-align: center;
  }

  .titulo_re{
    font-size: 230%;
    color: #ffffff;
    font-family: bold;
    text-align: center;
  }
  

ion-card-title {
    size: legal;
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    
}
ion-title{
    font-size: x-large;
    color: #1a5276;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
}

ion-menu-button{
    --ion-visibility: inherit !important;
}

.regreso{
    --color: #1a5276;
}
.itemMenu{
    --ion-background-color: #1a5276;
    color: #ffffff;
}
.aviso{
    font-size: 14px;
    color: #777777;
    text-align: center;
}
.ticket{
    padding: 0%;
}