<ion-content>
  <ion-router-outlet class="relleno" id="mani"></ion-router-outlet>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="estacionar">
            <ion-icon name="map-outline"></ion-icon>
            <ion-label>Por Estacionar</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="estacionados">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>Estacionados</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="solicitud">
            <ion-icon name="man-outline"></ion-icon>
            <ion-label>Solicitudes</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="entregados">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Entragados</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>